.modal {
  max-width: 300px;
  margin: 0 auto;
}

.modalTitle {
  font-weight: 600;
  font-size: 40px;
  line-height: 58px;
  text-align: center;
  margin-bottom: 15px;
  color: #1d1d1d;
}

.modalInput {
  background: #ffffff;
  border: 1px solid #93b8d9;
  border-radius: 100px !important;
  height: 48px;
}

.modal button {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  border: none !important;
  color: #ffffff;
  background: #136eef;
}

.modalText {
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #001732;
  display: block;
  margin-top: 15px;
}

.modalText:hover {
  color: #136eef;
}
